@page
@model IndexModel
@{
    ViewData["Title"] = "Start page";
}

<div class="intro_index">
    <div class="text_index">
        <h2>St. Chill Hospital</h2>
        <p>If you are an employee of this hospital, please log in to get started </p>
    </div>
    <a class="button" asp-area="Identity" asp-page="/Account/Login"> S I G N &nbsp I N</a>
</div>
