@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="intro_index">
    <div class="text_index">
        <p> Please check your email to reset your password. </p>
        <a asp-page="/Index" class="return">Return</a>
    </div>
</div>
