@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="login-page">
    <div class="form">
        <form method="post" class="login-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Email" type="text" placeholder="E-mail" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span> 
            <button type="submit">S U B M I T</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
